
*{
    box-sizing: border-box;
}

main{
    background-image: url(../imagens/banner.jpg);
    background-size: 100%;
}

div.caixa1{

background-color: blue;
border: 5px solid black;
}

div.caixa2{

    background-color: blueviolet;
    border-top: 5px dotted black ;

}

div.caixa3{

    background-color: chartreuse;

}

div{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px;
    padding: 40px;

}