main {
    font-family: 'Roboto', sans-serif;
}

.oferta {
    width: 100%;
    height: 20%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    color: #f3f3f3;

}

.oferta p {
    font-size: 10px;
  
}

.cabecalho {
    width: 100%;
    height: 62px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 166px;
    height: 23px;
}

.menu-navegacao {
    font-size: 13px;
    flex-wrap: wrap;
    display: flex;

}

.menu-navegacao ul li {
    display: inline-block;
}

